{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="resetModalNewPost()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="small-profilepic" style="background-image: url({{ user.profile_pic.url }});"></div>
                    </div>
                    <div class="form-area">
                        <form action="{% url 'createpost' %}" method="POST" class="newpost"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="text" autofocus placeholder="What are you thinking about?" rows="1"
                                      id="post-text" oninput="adjustTextareaHeight('post-text')"></textarea>
                            <div id='img-div'></div>
                            <div class="modal-footer">
                                <div class="custom-file">
                                    <input type="file" name="picture" class="custom-file-input" id="customFile"
                                           accept="image/*" onchange="displaySelectedImage()">
                                    <label class="custom-file-label" for="customFile">
                                        Picture
                                    </label>
                                </div>
                                <button id="popup-btn" class="btn btn-success new-post-btn">Share</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="commentPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write your Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="resetCommentModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="small-profilepic" style="background-image: url({{ user.profile_pic.url }});"></div>
                    </div>
                    <div class="form-area">
                        <textarea name="text" autofocus placeholder="Write your comment here..." rows="1"
                                  id="comment-text" oninput="adjustTextareaHeight('comment-text')"></textarea>
                        <div class="comments-scrollable">
                            <div id="comments-div"></div>
                        </div>
                        <div class="modal-footer">
                            <button id="comment-btn-modal" onclick="addComment()" class="btn btn-success new-post-btn">
                                Comment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send your message...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="small-profilepic"
                             style="background-image: url({{ user.profile_pic.url }});"></div>
                    </div>
                    <div class="form-area">
                        <div class="messages-scrollable" id="messages-scrollbar">
                            <div id="messages-div">
                            </div>
                        </div>
                        <textarea name="text" autofocus placeholder="Write here..." rows="1"
                                  id="message-text" oninput="adjustTextareaHeight('message-text')"></textarea>
                        <div class="modal-footer">
                            <button id="send-btn-modal"
                                    class="btn btn-success new-post-btn" onclick="sendMessage()">
                                Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit your post here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="resetModalNewPost()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div class="small-profilepic" style="background-image: url({{ user.profile_pic.url }});"></div>
                    </div>
                    <div class="form-area">
                            <textarea name="text" autofocus placeholder="What are you thinking about?" rows="1"
                                      id="edit-post-text" oninput="adjustTextareaHeight('edit-post-text')"></textarea>
                        <div id='edit-img-div'></div>
                        <div class="modal-footer">
                            <button id="popup-btn" onclick="edit()" class="btn btn-success new-post-btn">Edit
                            </button>
                            <button id="popup-btn" onclick="delete_post()" class="btn btn-success new-post-btn">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'sidenav.html' %}
{% block body %}
{% endblock %}
{% block script %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    let current_username_auth = "{{ user.username }}";
    let current_chat_id = "{{ chat.id }}";
</script>
<script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>